.cards-border {
  border-left: solid black 2px;
}

.cards-border-h {
  border-left: solid black 2px;
  height: 74vh;
}

.card-height {
  height: 35vh;
}

.modal-trigger {
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .cards-border,
  .cards-border-h {
    border-left: 0px;
  }

  .card-content {
    padding: 6px !important;
  }

  .card-title {
    font-size: 18px !important;
    line-height: 20px !important;
  }

  .card-action {
    padding: 10px !important;
  }
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .cards-border,
  .cards-border-h {
    padding-left: 5vw !important;
    margin-left: 5vw !important;
  }

  .card-content {
    padding: 12px !important;
  }

  .card-title {
    font-size: 22px !important;
    line-height: 24px !important;
  }

  .card-action {
    padding: 12px !important;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .card-content {
    padding: 16px !important;
  }

  .card-title {
    font-size: 18px !important;
    line-height: 20px !important;
  }

  .card-action {
    padding: 12px !important;
  }
}
